WebServiceMailNotificator/src/mailnotificator/Mail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Mail" targetNamespace="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail" xmlns:tns="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail/types">
  <types>
    <xsd:schema targetNamespace="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail/types" xmlns="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail/types">
      <xsd:complexType name="notify">
        <xsd:sequence>
          <xsd:element name="team_id" type="xsd:string"/>
          <xsd:element name="password" type="xsd:string"/>
          <xsd:element name="address" type="xsd:string"/>
          <xsd:element name="subject" type="xsd:string"/>
          <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="notify" nillable="true" type="ns:notify"/>
      <xsd:complexType name="notifyResponse">
        <xsd:sequence>
          <xsd:element name="success" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="notifyResponse" nillable="true" type="ns:notifyResponse"/>
      <xsd:complexType name="getPrice">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getPrice" nillable="true" type="ns:getPrice"/>
      <xsd:complexType name="getPriceResponse">
        <xsd:sequence>
          <xsd:element name="price" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getPriceResponse" nillable="true" type="ns:getPriceResponse"/>
    </xsd:schema>
  </types>
  <message name="notifyRequest">
    <part name="parameters" element="ns:notify"/>
  </message>
  <message name="notifyResponse">
    <part name="parameters" element="ns:notifyResponse"/>
  </message>
  <message name="getPriceRequest">
    <part name="parameters" element="ns:getPrice"/>
  </message>
  <message name="getPriceResponse">
    <part name="parameters" element="ns:getPriceResponse"/>
  </message>
  <portType name="MailPortType">
    <operation name="notify">
      <input message="tns:notifyRequest"/>
      <output message="tns:notifyResponse"/>
    </operation>
    <operation name="getPrice">
      <input message="tns:getPriceRequest"/>
      <output message="tns:getPriceResponse"/>
    </operation>
  </portType>
  <binding name="MailBinding" type="tns:MailPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="notify">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail/#notify"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail"/>
      </output>
    </operation>
    <operation name="getPrice">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail/#getPrice"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/notificationservices/mail"/>
      </output>
    </operation>
  </binding>
  <service name="MailService">
    <port name="MailPort" binding="tns:MailBinding">
      <soap:address location="http://pis.predmety.fiit.stuba.sk/pis/ws/NotificationServices/Mail"/>
    </port>
  </service>
</definitions>
