WebServicePeaks/src/peaks/Peaks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Peaks" targetNamespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks" xmlns:tns="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks/types">
  <types>
    <xsd:schema targetNamespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks/types" xmlns="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks/types">
      <xsd:complexType name="getByName">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByName" nillable="true" type="ns:getByName"/>
      <xsd:complexType name="Peak">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="height" type="xsd:int"/>
          <xsd:element name="country_iso_code" type="xsd:string"/>
          <xsd:element name="coord_lat" type="xsd:double"/>
          <xsd:element name="coord_lon" type="xsd:double"/>
          <xsd:element name="countryarea" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Peak" nillable="true" type="ns:Peak"/>
      <xsd:complexType name="getByNameResponse">
        <xsd:sequence>
          <xsd:element name="peak" type="Peak"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByNameResponse" nillable="true" type="ns:getByNameResponse"/>
      <xsd:complexType name="searchByName">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchByName" nillable="true" type="ns:searchByName"/>
      <xsd:complexType name="ArrayOfPeaks">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="peak" nillable="true" type="ns:Peaks"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Peaks">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="height" type="xsd:int"/>
          <xsd:element name="country_iso_code" type="xsd:string"/>
          <xsd:element name="coord_lat" type="xsd:double"/>
          <xsd:element name="coord_lon" type="xsd:double"/>
          <xsd:element name="countryarea" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Peaks" nillable="true" type="ns:Peaks"/>
      <xsd:complexType name="searchByNameResponse">
        <xsd:sequence>
          <xsd:element name="peaks" type="ns:ArrayOfPeaks"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchByNameResponse" nillable="true" type="ns:searchByNameResponse"/>
      <xsd:complexType name="ArrayOfIds">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="id" nillable="true" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getByIds">
        <xsd:sequence>
          <xsd:element name="ids" type="ns:ArrayOfIds"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByIds" nillable="true" type="ns:getByIds"/>
      <xsd:complexType name="getByIdsResponse">
        <xsd:sequence>
          <xsd:element name="peaks" type="ns:ArrayOfPeaks"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByIdsResponse" nillable="true" type="ns:getByIdsResponse"/>
      <xsd:complexType name="getById">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getById" nillable="true" type="ns:getById"/>
      <xsd:complexType name="getByIdResponse">
        <xsd:sequence>
          <xsd:element name="peak" type="Peak"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByIdResponse" nillable="true" type="ns:getByIdResponse"/>
      <xsd:complexType name="getHeight">
        <xsd:sequence>
          <xsd:element name="peak_id" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getHeight" nillable="true" type="ns:getHeight"/>
      <xsd:complexType name="getHeightResponse">
        <xsd:sequence>
          <xsd:element name="vyska" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getHeightResponse" nillable="true" type="ns:getHeightResponse"/>
    </xsd:schema>
  </types>
  <message name="getByNameRequest">
    <part name="parameters" element="ns:getByName"/>
  </message>
  <message name="getByNameResponse">
    <part name="parameters" element="ns:getByNameResponse"/>
  </message>
  <message name="searchByNameRequest">
    <part name="parameters" element="ns:searchByName"/>
  </message>
  <message name="searchByNameResponse">
    <part name="parameters" element="ns:searchByNameResponse"/>
  </message>
  <message name="getByIdsRequest">
    <part name="parameters" element="ns:getByIds"/>
  </message>
  <message name="getByIdsResponse">
    <part name="parameters" element="ns:getByIdsResponse"/>
  </message>
  <message name="getByIdRequest">
    <part name="parameters" element="ns:getById"/>
  </message>
  <message name="getByIdResponse">
    <part name="parameters" element="ns:getByIdResponse"/>
  </message>
  <message name="getHeightRequest">
    <part name="parameters" element="ns:getHeight"/>
  </message>
  <message name="getHeightResponse">
    <part name="parameters" element="ns:getHeightResponse"/>
  </message>
  <portType name="PeaksPortType">
    <operation name="getByName">
      <input message="tns:getByNameRequest"/>
      <output message="tns:getByNameResponse"/>
    </operation>
    <operation name="searchByName">
      <input message="tns:searchByNameRequest"/>
      <output message="tns:searchByNameResponse"/>
    </operation>
    <operation name="getByIds">
      <input message="tns:getByIdsRequest"/>
      <output message="tns:getByIdsResponse"/>
    </operation>
    <operation name="getById">
      <input message="tns:getByIdRequest"/>
      <output message="tns:getByIdResponse"/>
    </operation>
    <operation name="getHeight">
      <input message="tns:getHeightRequest"/>
      <output message="tns:getHeightResponse"/>
    </operation>
  </portType>
  <binding name="PeaksBinding" type="tns:PeaksPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getByName">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks/#getByName"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </output>
    </operation>
    <operation name="searchByName">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks/#searchByName"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </output>
    </operation>
    <operation name="getByIds">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks/#getByIds"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </output>
    </operation>
    <operation name="getById">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks/#getById"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </output>
    </operation>
    <operation name="getHeight">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks/#getHeight"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/geoservices/peaks"/>
      </output>
    </operation>
  </binding>
  <service name="PeaksService">
    <port name="PeaksPort" binding="tns:PeaksBinding">
      <soap:address location="http://pis.predmety.fiit.stuba.sk/pis/ws/GeoServices/Peaks"/>
    </port>
  </service>
</definitions>
